.MuiPaper-root {
  background: transparent !important;
  /* Dummy Change */
}

.tooltip {
  position: relative;
  border: 1px solid black;
}

.tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 5px;
}

.stepper {
  font-family: sans-serif;
  width: 85%;
  margin: 1rem auto;
}
